label {
  cursor: pointer;
}
p.description {
  font-size: 13px;
  font-style: italic;
  font-weight: normal;
  margin: 2px 0 5px;
  color: #666;
}
#main .hidden,
#main .mpsl-hidden,
#main .mpsl-hide-options,
#main .mpsl-dependency-hide {
  display: none;
}
.wide {
  width: 100%;
}
.mpsl-sort-icon {
  cursor: move;
  background: url("../img/sprite.png?ver=1.2.6") no-repeat 0 -15px;
  width: 20px;
  height: 15px;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
#mpsl-info-box {
  position: fixed;
  top: 40px;
  right: 15px;
  z-index: 10001;
}
#mpsl-info-box .mpsl-message {
  padding: 20px;
  background: #fff;
  color: #454545;
  max-width: 400px;
  width: 400px;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(128, 128, 128, 0.7);
  -moz-box-shadow: 1px 1px 2px 0px rgba(128, 128, 128, 0.7);
  box-shadow: 1px 1px 2px 0px rgba(128, 128, 128, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#mpsl-info-box .mpsl-message-error {
  border-left: 4px solid #dd3d36;
}
#mpsl-info-box .mpsl-message-warning {
  border-left: 4px solid #ffa500;
}
#mpsl-info-box .mpsl-message-success {
  border-left: 4px solid #7ad03a;
}
.widefat {
  border-spacing: 0;
  width: 100%;
  clear: both;
  margin: 0;
  border: 1px solid #e5e5e5;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.widefat th {
  text-align: left;
  padding: 8px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
}
.widefat thead th {
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.widefat tbody td {
  vertical-align: top;
  padding: 8px 10px;
}
.widefat.fixed {
  max-width: 800px;
  table-layout: fixed;
}
.mpsl-preview-dialog.ui-dialog {
  z-index: 10001;
}
.mpsl-preview-dialog.ui-dialog .mpsl-slider-preview {
  background-color: #eee;
}
.mpsl-preview-dialog .mpsl-slider-preview {
  height: auto;
}
.mpsl-preview-dialog iframe {
  width: 100%;
  height: 85%;
  display: block;
  margin: 0 auto;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper {
  padding: 10px;
  text-align: center;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container {
  display: inline-block;
  cursor: pointer;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item {
  float: left;
  width: 51px;
  height: 40px;
  margin-left: 13px;
  cursor: pointer;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item:first-child {
  margin-left: 0;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.hidden {
  display: none;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.desktop {
  background: url("../img/preview-sprite.png?ver=1.2.6") no-repeat 0 0;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.tablet {
  background: url("../img/preview-sprite.png?ver=1.2.6") no-repeat -65px 0;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.mobile {
  background: url("../img/preview-sprite.png?ver=1.2.6") no-repeat -129px 0;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.desktop.active,
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.desktop:hover {
  background: url("../img/preview-sprite.png?ver=1.2.6") no-repeat 0 -67px;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.tablet.active,
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.tablet:hover {
  background: url("../img/preview-sprite.png?ver=1.2.6") no-repeat -65px -67px;
}
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.mobile.active,
.mpsl-slider-preview .mpsl-resolution-buttons-wrapper .container .item.mobile:hover {
  background: url("../img/preview-sprite.png?ver=1.2.6") no-repeat -129px -67px;
}
.mpsl-template-dialog .ui-dialog-titlebar {
  display: none;
}
.mpsl-template-dialog .mpsl-templates-table {
  border: none;
  box-shadow: none;
  padding-top: 15px;
}
.mpsl-template-dialog .mpsl-templates-table input {
  cursor: pointer;
}
.mpsl-template-dialog .mpsl-templates-table label {
  display: block;
  cursor: pointer;
}
#mpsl-slider-preset-wrapper {
  height: auto !important;
  max-height: 680px !important;
}
#mpsl-product-preview-table tbody p {
  margin: 0;
}
.button-group {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  vertical-align: middle;
}
.button-group .button {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  white-space: nowrap;
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button-group .button.active,
.button-group .button.active:hover,
.button-group .button:active {
  background: #eee;
  border-color: #999;
  color: #32373c;
  -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
.button-group > .button {
  display: inline-block;
  margin-right: -1px;
  z-index: 10;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.button-group > .button:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.button-group > .button:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.button-group.button-large {
  height: 30px;
  line-height: 28px;
}
.button-group.button-large .button {
  height: 30px;
  line-height: 28px;
  padding: 0 12px 2px;
}
.mpsl-button-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mpsl-button-dropdown > .dropdown-toggle > .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.mpsl-button-dropdown > .dropdown-menu {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5000;
  display: none;
  float: left;
  min-width: 220px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.mpsl-button-dropdown > .dropdown-menu > li {
  padding: 3px 20px;
  line-height: 1.5em;
}
.mpsl-button-dropdown > .dropdown-menu > li:hover {
  background-color: #f5f5f5;
}
.mpsl-button-dropdown > .dropdown-menu > li.divider {
  padding: 0;
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.mpsl-button-dropdown > .mpsl-add-layer {
  margin-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mpsl-button-dropdown > .mpsl-add-layer + .dropdown-toggle {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mpsl-button-dropdown.open > .dropdown-toggle {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.mpsl-button-dropdown.open > .dropdown-menu {
  display: block;
}
.control-label .mpsl-button-dropdown {
  margin-left: 6px;
}
.mpsl-align-table {
  table-collapse: collapse;
}
.mpsl-align-table td {
  border: 1px solid #999;
  padding: 1px;
}
.mpsl-align-table td a {
  text-decoration: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #bdc3c7;
}
.mpsl-align-table td a:hover {
  background-color: #7F8C8D;
}
.mpsl-align-table td a.selected {
  background-color: #7F8C8D;
  cursor: default;
}
.mpsl-align-table td a.selected:hover {
  cursor: default;
  background-color: #7F8C8D;
}
.mpsl-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("../img/loading.gif?ver=1.2.6");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 10000;
}
#content.bootstrap .form-horizontal .actions {
  padding-top: 7px;
}
#content.bootstrap .tabs-list-group {
  margin-bottom: 0;
}
#content.bootstrap .tabs-list-group .list-group-item {
  display: inline-block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
#content.bootstrap .tabs-panel {
  border-top-left-radius: 0;
}
#content.bootstrap .panel h3.panel-alternate-title {
  margin-top: 15px;
  margin-left: 0;
}
#content.bootstrap .table .default-table-cell-padding {
  padding: 8px;
}
#content.bootstrap h3.no-margin {
  margin: 0;
}
#content.bootstrap .mpsl-hook {
  border-bottom: 1px dotted;
}
#content.bootstrap #mpsl-layer-settings textarea {
  resize: vertical;
}
#content.bootstrap #mpsl-layer-settings #mpsl_text {
  min-height: 100px;
}
#content.bootstrap #mpsl-layer-settings .mpsl-option-wrapper > label {
  display: block;
  text-align: left;
}
#content.bootstrap #mpsl-layer-settings .form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
#content.bootstrap #mpsl-layer-settings .form-group {
  margin-bottom: 15px;
}
#content.bootstrap #mpsl-layer-settings .form-group .form-group:last-child {
  margin-bottom: 0;
}
#content.bootstrap #mpsl-layer-settings .form-group.mpsl-option-checkbox {
  margin-top: -15px;
}
#content.bootstrap .mpsl-export-table tbody tr.table-row {
  cursor: pointer;
}
#content.bootstrap .mpsl-option.mpsl-option-image_url .mpsl-option-image-load-btn {
  position: absolute;
  top: 0;
  right: 0;
}
#content.bootstrap #mpsl-slide-settings-tabs .tab {
  display: none;
}
#content.bootstrap .mpsl-layers-table > tbody > tr,
#content.bootstrap .mpsl-layer-presets-table > tbody > tr {
  cursor: pointer;
}
#content.bootstrap .mpsl-media-library .mpsl-media-item .mpsl-media-name {
  height: 3.5em;
}
.mpsl-media-library .mpsl-media-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 5px 0 0;
  padding: 3px;
  -webkit-box-shadow: inset 0 0 0 1px #aaaaaa;
  -moz-box-shadow: inset 0 0 0 1px #aaaaaa;
  box-shadow: inset 0 0 0 1px #aaaaaa;
}
.mpsl-media-library .mpsl-media-item.active {
  -webkit-box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 4px #1e8cbe;
  -moz-box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 4px #1e8cbe;
  box-shadow: inset 0 0 0 1px #fff, inset 0 0 0 4px #1e8cbe;
}
.mpsl-media-library .mpsl-media-item .mpsl-media-name {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
  padding: 0.5em 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}
.mpsl-media-library .mpsl-media-item .mpsl-media-name > span {
  display: table-cell;
  vertical-align: middle;
}
.mpsl-media-library .mpsl-media-item .mpsl-media-image {
  display: table-cell;
  width: 152px;
  height: 152px;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  cursor: pointer;
}
.mpsl-media-library .mpsl-media-item .mpsl-media-image img {
  max-width: 150px;
  max-height: 150px;
}
.mpsl-media-library .mpsl-media-item .mpsl-media-delete {
  display: none;
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
  color: brown;
}
.mpsl-media-library .mpsl-media-item .mpsl-media-delete:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.mpsl-media-library .mpsl-media-item .mpsl-media-delete:hover:before {
  content: "Delete ";
}
.mpsl-media-library .mpsl-media-item:hover .mpsl-media-name {
  display: table;
}
.mpsl-media-library .mpsl-media-item:hover .mpsl-media-delete {
  display: inline-block;
}
.mpsl-media-library .dropzone {
  border: 4px dashed #b4b9be;
  padding: 50px;
  text-align: center;
  cursor: pointer;
}
.mpsl-media-library .mpsl-media-form {
  margin-top: 12px;
}
.mpsl-media-library.in-frame {
  display: none;
}
.mpsl-media-library.in-frame .mpsl-media-back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #000;
  opacity: 0.7;
}
.mpsl-media-library.in-frame .mpsl-media-tabs {
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  z-index: 10001;
}
.ui-dialog .ui-dialog-content.mpsl-animation-editor {
  padding: 0;
  overflow: hidden;
}
.mpsl-animation-editor .mpsl-animation-left-wrapper {
  float: left;
  width: 75%;
  height: 100%;
  border: 1px solid #dedede;
  padding-bottom: 59px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mpsl-animation-editor .mpsl-animation-scene-wrapper {
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mpsl-animation-editor .mpsl-animation-scene {
  width: 100%;
  height: 80%;
  position: relative;
  text-align: center;
  overflow: hidden;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}
.mpsl-animation-editor .mpsl-animation-preview-wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
}
.mpsl-animation-editor .mpsl-animation-preview-wrapper .mpsl-animation-preview {
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  color: #3c3c3c;
}
.mpsl-animation-editor .mpsl-play-animation {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.mpsl-animation-editor .mpsl-play-animation > i {
  margin: 0 5px;
}
.mpsl-animation-editor .mpsl-timing-and-duration {
  height: 20%;
  width: 100%;
  display: table;
  border-top: 1px solid #dedede;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mpsl-animation-editor .mpsl-timing-and-duration .mpsl-controls {
  display: table-cell;
  vertical-align: middle;
}
.mpsl-animation-editor .mpsl-timing-and-duration .mpsl-controls .control-label {
  margin: 0 0 0 30px;
  padding-top: 6px;
}
.mpsl-animation-editor .mpsl-timing-and-duration .mpsl-controls .form-group {
  margin: 0 0 0 10px;
}
.mpsl-animation-editor .mpsl-timing-and-duration .mpsl-option {
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}
.mpsl-animation-editor .mpsl-timing-and-duration .mpsl-option select,
.mpsl-animation-editor .mpsl-timing-and-duration .mpsl-option input {
  vertical-align: middle;
}
.mpsl-animation-editor .mpsl-animation-right-wrapper {
  height: 100%;
  width: 25%;
  float: left;
}
.mpsl-animation-editor .mpsl-option-select_list {
  height: 100%;
}
.mpsl-animation-editor .mpsl-select-list-box {
  height: 100%;
  width: 100%;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  padding-bottom: 59px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mpsl-animation-editor .mpsl-select-list-box .mpsl-select-list-scroller {
  overflow: auto;
  height: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mpsl-animation-editor .mpsl-select-list-box .mpsl-select-list {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  list-style: none;
}
.mpsl-animation-editor .mpsl-select-list-box .mpsl-select-list li {
  margin: 0;
  padding: 5px 10px;
}
.mpsl-animation-editor .mpsl-select-list-box .mpsl-select-list li:nth-child(odd) {
  background-color: #f9f9f9;
}
.mpsl-animation-editor .mpsl-select-list-box .mpsl-select-list li.active {
  background-color: #e5e5e5;
}
.mpsl-animation-editor .mpsl-animation-bottom-wrapper {
  border-top: 1px solid #dedede;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 14px 10px;
  background: #ffffff;
}
